@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

img#wallpaper {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    color: white;
    font-size: clamp(12rem, 18vw, 25rem); 
    font-family: "East Sea Dokdo", sans-serif;
    line-height: 75%;
}

header p {
    color: white;
    font-size: clamp(2rem, 3vw, 4rem);
}

footer {
    text-align: left;
    position: fixed;
    bottom: 16px;
    left: 24px;
}

footer p {
    color: white;
    margin-bottom: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

a:focus-visible {
    outline-offset: 2px;
    outline: 3px dashed rgb(0, 106, 133);
    border-radius: 16px;
}